/* mycss */


#container {
	width: 500px;
	margin: 0 auto;
}
	

#header {
	background-color: red;
}

#main {
	background-color: blue;
	overflow: hidden;
}

#footer {
	background-color: green;
}


#left {
	background-color: purple;
	float: left;
	width: 200px;
	
}

#right {
	background-color: pink;
	float: right;
	width: 200px;
}



