@charset "UTF-8";

html {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow-x: hidden; 
}

body {
	height: 100%;
}

h1 {
	color: #514533;
	font-size: 60px;
}

h2 {
	color: #514533;
	border-bottom: 2px solid #D1C6B5;
}

h3 {
	font-size: 16px;
	color: #514533;
	border-bottom: 2px dashed #D1C6B5;
}

.container {
	width: 100%;
	text-align: center;
	background: #827B71;
	border-top: 30px dashed #D1C6B5;
	border-bottom: 30px dashed #D1C6B5;
}

#show {
	margin: 0 auto;

}

#show img {
	width: 100%;
	height: 340px;
	border: 1px solid #827B71;
	display: block;
}

.frame {
	display: table;
	table-layout: fixed;
	width: 100%;
	background: #827B71;
	border-top: 20px dashed #D1C6B5;
	border-bottom: 20px dashed #D1C6B5;
	margin-bottom: 20px;
	position: relative;
}

.photo {
	width: 240px;
	height: 180px;
	margin-left: 25px;
	float: left;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.photo .mask {
	width: 240px;
	height: 180px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.photo img {
	vertical-align: bottom;
	position: relative;
	border: 1px solid #827B71;
}

.effect img {
	opacity: 1;
	width: 240px;
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.effect .mask {
	opacity: 0;
	overflow: visible;
	width: 0;
	height: 0;
	-webkit-transition: -webkit-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
	-ms-transition: -ms-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
	-o-transition: -o-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
	transition: transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
}

.effect:hover img {
	opacity: 0.7;
	-webkit-transform: scale(2,2);
	-moz-transform: scale(2,2);
	-ms-transform: scale(2,2);
	-o-transform: scale(2,2);
	transform: scale(2,2);
}

.effect:hover .mask {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}

footer {
	color: #514533;
	font-size: 14px;
}

.contents {
	margin: 0 auto;
	text-align: center;
}

.contents p {
	margin: 0 auto;
	width: 800px;
	line-height: 150%;
	color: #514533;
}

/*--スライドショー部分--*/

.fadeout {
	opacity: 0;
	transition: 2s ease-in-out;
	-webkit-transition: 2s ease-in-out;
}

.fadein {
	opacity: 1;
	transition: 2s ease-in-out;
	-webkit-transition: 2s ease-in-out;
}

#item1 {
	width: 800px;
	height: 600px;
	position: absolute;
}

#item2 {
	width: 800px;
	height: 600px;

}